navbar()
	nav
		.container
			position relative
			+below('xl')
				padding-left 20px
				padding-right 20px
		line-height 70px
		height 70px
		background-color white
		color shady
		links()
		box-shadowed()
		.navTitle
			font-size 24px
			font-weight bold
			float left
			margin-right 30px
		.navLinks
			links()
			+below('m')
				display none
			a
				font-size 17px
				margin-left 50px
				font-weight 600
				display inline
				line-height 70px
		.loginBar
			float right
			font-size 17px
			font-weight bold
		dropdown()
main()
	margin-top 80px
	color shady
	.topbar
		background-color white
		+below('m')
			padding-left 20px
			padding-right 20px
		box-shadowed()
		margin-bottom 10px
		h1
			font-size 35px
			font-weight 300
			text-align center
			padding-top 40px
			margin-bottom 0
			font-family 'Open Sans'
			text-rendering optimizeLegibility
		h2
			font-weight 300
			font-size 24px
			text-align center
			margin-top 40px
			margin-bottom 40px
			text-rendering optimizeLegibility
		p
			center(780px)
			font-style italic
			text-align center
			color tighty
			padding 20px 0
			
	.stats
		padding 20px
		.stats-col
			col(1/3)
			+below('m')
				col(1)
			border-radius 20px
			border 1px solid shady
			font-weight 300
			text-align center
			padding 10px
			margin-bottom 20px
			.title
				font-size 18px
				text-align center
			.value
				font-size 40px
				text-align center
	.content
		links()
		a
			font-weight 600
			color green
		a:hover
			text-decoration underline
		+below('m')
			padding-left 20px
			padding-right 20px
		.workshopItem.disabled:hover
			filter grayscale(100%)
			transition()
		.workshopItem
			transition()
			background-color white
			margin-bottom 10px
			padding-bottom 20px
			box-shadowed()
			color shady
			.red
				color red
			checkbox()
			padding 30px
			.textContent
				box-sizing()
				.description
					padding-left 60px
					+below('m')
						padding-left 0
					width 100%
					text-align justify
					line-height 30px
					box-sizing()
				.info-panel-mobile
					display none
					ul
						margin 0
						-webkit-padding-start 0
						width 100%
					li
						font-family 'Open Sans'
						display block
						
						width 100%
						padding 10px 0
						background-color green
						color white
						i
							border-radius 100%
							background-color white
							padding 5px
							margin-left 10px
							position relative
							color green
					+below('m')
						display block
						

				.right-panel
					float right
					text-align right
					+below('m')
						display none
					ul
						margin 0
						-webkit-padding-start 0
						
						li
							font-family 'Open Sans'
							
							display inline
							line-height 30px
							list-style-type none
							padding 5px 0 5px 60px
							margin 0
		input[type=checkbox]
			float left
		h3
			font-size 25px
			font-weight 400
			margin 0
			margin-right 20px
			display inline
			+below('m')
				display block
				line-height 40px
				margin-right 0
				text-align right
		h4
			font-size 21px
			font-weight 300
			margin-bottom 15px
		.subscribed
			background-color green
			color white
			padding 2px 7px
			+below('m')
				float right
		.occupied
			background-color red
			color white
			padding 2px 7px
			+below('m')
				float right
		.submitWorkshops
			links()
			input[type=submit]
				font-size 24px
				line-height 64px
				height 64px
				width 300px
				+below('m')
					width 100%
				padding 0 20px
				margin-bottom 50px
		.totalPrice
			text-align center
			display block
			+below('m')
				display none
			font-size 15px
			margin-bottom 10px
			color shady
			font-weight 300
			strong
				font-weight 400
		.loggedUsers
			table
				width 100%
				th,td
					text-align left
					vertical-align middle
					font-size 15px
					line-height 24px
				tr:nth-child(odd)
					background rgb(250,250,250)
				tr:nth-child(odd)
					background white
admin()
	.content
		background-color transparent
		box-shadowed(0)
		.workshopItem
			background-color white
			.description
				padding-left 0
			box-shadowed()
			margin-bottom 10px



@keyframes pulse {
			0% {
				filter hue-rotate(0deg)
			}
			100%{
				filter hue-rotate(360deg)
			}
		}

loginBg()
	div.flash
		margin-top -100px
		
	background url(../images/bg.png)
	+below('m')
		background #8A3A41
	//animation-name pulse
	animation-duration 90s
	background-size cover
	padding-top 120px
	+below('m')
		padding-top 0
	background-repeat no-repeat
	content-box()
	animation-iteration-count infinite
login()
	//background-color red

	.loginBox
		center(480px)
		padding-top 40px
		.errors
			margin 0
			-webkit-padding-start 0	
			li
				font-family 'Open Sans'
				display block
				line-height 30px
				text-align center
				list-style-type none
				color #ff9090
				padding 5px 0
				margin 0
				
		//height 640px
		background-color rgba(255,255,255,0.2)
		+below('m')
			background-color rgba(255,255,255,0)
			padding-left 20px
			padding-right 20px
		span.hint
			text-align center
			display block
			font-size 18px
			padding 20px 0
			color white
		img
			center(169px)
			padding-top 40px
		h1
			font-size 35px
			font-weight bold
			font-family 'Open Sans'
			color white
			text-align center
			margin-top 30px
			margin-bottom 70px
		input[type=text],input[type=password],input[type=email]
			center(300px)
			line-height 40px
			font-size 15px
			font-family 'Open Sans'
			color rgba(255,255,255,255,0.5)
			background transparent
			border 1px solid
			border-color rgba(255,255,255,0.5)
			width 300px
			+below('m')
				width 100%
			outline none
			padding-left 10px
			margin-bottom 10px
			transition()
		
		input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
			border-color rgba(255,255,255,1)
			transition()
		::-webkit-input-placeholder
			color rgba(255,255,255,0.5)
		::-moz-input-placeholder
			color rgba(255,255,255,0.5)
		:-ms-input-placeholder
			color rgba(255,255,255,0.5)
		:-moz-input-placeholder
			color rgba(255,255,255,0.5)
		.line-cont
			center(300px)
			padding-bottom 20px
		.errorInput
			border-color rgba(255,144,144,1)
			border 1px dashed
		checkbox()
		.realLabel
			font-size 15px
			color white
			margin-left 15px
		links()
		input[type=submit]
			margin-top 35px
			margin-bottom 20px
		a
			color rgba(255,255,255,0.5)
		a:hover
			color rgba(255,255,255,1)

div.flash
	color black
	background #FFF9D7
	border 1px solid #E2C822
	padding 1em
	margin-top 80px
	position absolute
	width 100%
div.flash.error
	background-color lightRed
	border 1px solid red
div.flash.success
	background-color lightGreen
	border 1px solid green
div.flash.info
	background-color lightBlue
	border 1px solid blue

footer()
	position absolute
	right 0
	bottom 0
	left 0
	links()
	a
		font-weight 800
	span.year
		float right
	height 40px
	line-height 40px
	background-color white
	color rgb(150,150,150)
	.left
		float left
		line-height 40px
	.right
		float right
		line-height 40px