{block content}
<section id="login">
	<form n:name=registrationConfirm>
		<div class="loginBox">
			<img src="{$basePath}/images/dudlik.png">
			<h1>Dudlík fest</h1>
			<input n:name=code placeholder="Registrační kód" \>
			<div class="line-cont">
				<input n:name=send value="AKTIVOVAT ÚČET">
			</div>
		</div>
	</form>
</section>