{block content}
<section id="login">
    <form n:name=forgottenPassword>
        <div class="loginBox">
            <h1>Zapomenuté heslo</h1>
            <input n:name=email placeholder="E-mail" \>
            <span class="hint">Pro obnovení hesla zadejte prosím svůj email.</span>
            <div class="line-cont">
                <input n:name=send value="OBNOVIT HESLO">
            </div>
        </div>
    </form>
</section>