{block content}
<section id="login">
    <form n:name=restorePassword>
        <div class="loginBox">
            <h1>Změna hesla</h1>
            <input n:name=restoreCode id="restoreCode"\>
            <input n:name=newPassword placeholder="Nové heslo" \>
            <input n:name=newRepeat placeholder="Nové heslo znovu" \>
            <div class="line-cont">
                <input n:name=send value="OBNOVIT HESLO">
            </div>
        </div>
    </form>
</section>