{block content}
<section id="login">
	<form n:name=signUpForm>
		<div class="loginBox">
			<img src="{$basePath}/images/dudlik.png">
			<h1>Dudlík fest</h1>
			<input n:name=username placeholder="Uživatelské jméno" \>
                        <input n:name=email placeholder="Email"\>
			<input n:name=password placeholder="Heslo"\>
			<div class="line-cont">
				<input n:name=send value="ZAREGISTROVAT SE">
				<a n:href="in">Již máte účet? Přihlašte se.</a>
			</div>
		</div>
	</form>
</section>