@import 'jeet'
@import 'rupture'
@import 'mixins/*'

html
	height 100%
	box-sizing  border-box
*
	box-sizing inherit
::selection
	background green
	color white
body
	margin 0
	overflow-y scroll
	position relative
	min-height 100%
	padding-bottom 6rem
	background-color bgShadow
	text-rendering optimizeLegibility
	font-family 'Open Sans', sans-serif
body.bodyBg
	loginBg()
.container
	center(960px)
section#navbar
	navbar()
section#main
	main()
section#main.admin
	admin()
section#login
	login()
footer
	footer()